/* cars page */

html,
body {
  height: 100%;
}

body {
  background-color: #f5f5f5;
}
nav a{
    font-size: 1.4rem;
    margin: 5px 0px;
    position: relative;
    display: inline-block;
}
nav a img{
    margin-left:1.5rem;
}

/* cars */
.car:hover {
    background-color: #eeeeef;
}
.car{
    text-align: left;
}
.line-1, .line-2{
    display: inline-block;
}
.line-2{
    float:right;
}
.car .car-description {
    font-size: 1.3rem;
    height: 4rem;
    display: inline-block;
    margin: 0px 0.5rem;
    line-height: 3.9rem;
}

.car .car-img img{
    height: 100%;
}
.car .car-costs{
    font-weight: 700;
}
.car .car-color{
    width: 2rem;
    height: 2rem;
    margin: 1rem 0rem;
    display: inline-block;
    vertical-align: middle;
}

@media (max-width: 1100px) { 
    html {
        font-size: 0.8rem;
    }
}

@media (max-width: 1010px) { 
    .car{
        text-align: center;
        border-bottom: 1px solid rgba(0,0,0,.125);
    }
    .line-2{
        float:none;
    }
}

/* gmaps */
.card iframe{
    height:24rem;
    width:100%;
}